:host {
  .profile-image {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    transition: 250ms all;
    cursor: pointer;

    .icon {
      position: absolute;
      z-index: 99;
      width: 100%;
      height: 100px;
      background: rgba(0, 0, 0, 0.5);
      display: flex;
      align-items: flex-start;
      justify-content: center;
      bottom: -100px;
      transition: 750ms all;
    }

    &:hover {
      .icon {
        bottom: 0;
        transition: 750ms all;
        cursor: pointer;

        .mat-icon{
          margin: auto;
        }
      }
    }

    profile-image {
      &::ng-deep {
        .profile__image {
          width: 100px !important;
          height: 100px !important;
          border-radius: 50%;
        }
      }
    }
  }
  .large-input-area {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 220px;
    margin-bottom: 0;
    width:100%;
  }
}
